<div id="blocksView" [routerLink]="'/home'">
    <div class="blocksCards"> <!-- las secciones del inicio -->
        <div class="containerIMG">
            <img src="https://public-v2links.adobecc.com/40f945b0-1fb8-48c3-40ec-6aa0184a3840/component?params=component_id%3Ae6ad25ef-51cf-4716-b8a3-1e46db4fc648&amp;params=version%3A0&amp;token=1660969348_df1b96b4_b4421131f58f91a0aa90313f3614aed806e072bb&amp;api_key=CometServer1" alt="block image">
        </div>
        <div class="containerBlockName">
            Home
        </div>
    </div>
</div>